<footer id="footer">
    <div class="redes">
        <div class="container contenido">
            <div class="img_redes">
                <a href="{{link_facebook}}" target="_blank"><img  [src]="facebook" alt=""></a>
                <a href="{{link_ig}}" target="_blank"><img  [src]="ig" alt=""></a>
                <a href="{{link_twitter}}" target="_blank"><img  [src]="twitter" alt=""></a>
                <a href="{{link_tiktok}}" target="_blank"> <img  [src]="tiktok" alt=""></a>
                <a href="{{link_youtube}}" target="_blank"> <img  [src]="youtube" alt=""></a>
            </div>
    
        <br>
        <h1>¡Tu confianza nuestro compromiso!</h1>
        <a id=politica href="{{politica}}" target="_blank">Política de tratamiento de datos</a>
        </div>
    </div>
</footer>
