<header>
    <nav class="nav">
        <img [src]="img_ppl" alt="logo ucp" class="nav__logo" />
            <ul class="nav__links">
                <li><a href="#inicio" class="nav__link">Inicio</a></li>
                <li><a href="#descripcion" class="nav__link">Descripción</a></li>
                <li><a href="#general" class="nav__link">Información General</a></li>
                <li><a href="#form" class="nav__link">Asistencia</a></li>
                <li><a href="#footer" class="nav__link nav__link--active">Redes Sociales</a></li>
              </ul>
        
    </nav>
</header>


